{
    "rabbitmq": {
      "host": "localhost",
      "port": 5672,
      "username": "rabbitmq_user",
      "password": "secure_rabbitmq_password",
      "virtual_host": "/"
    },
    "user_auth": {
      "username": "user@example.com",
      "password": "secure_user_password"
    },
    "grok_api": {
      "api_key": "grok_api_key_789abcd",
      "endpoint": "https://api.x.ai/v1/chat/completions",
      "model": "grok-beta"
    },
    "spotify": {
      "client_id": "",
      "client_secret": ""
    },
    "navidrome": {
      "url":"http://localhost:4533/rest",
      "username": "",
      "password": ""
    },
    "playlist_download": {
      "provider":"zotify",
      "download-lyrics":false,
      "download-format":"mp3",
      "download-quality":"very_high",
      "song-archive":"/var/log/zotify/archive.txt",
      "skip-previously-downloaded":false,
      "retry-attempts":"3",
      "download-real-time":false,
      "credentials-location":"~/.local/share/zotify/credentials.json",
      "print-download-progress":false,
      "print-downloads":true,
      "print-progress-info":false,
      "output":"{artist} - {album} - {song_name}.{ext}"
    },
    "paths": {
      "downloads": "/downloads/",
      "music":"/music/downloads/",
      "itunes_library_file":"/music/Itunes folder/iTunes Music Library.xml"
    },
    "lyrics": {
        "lrclib": {
            "token": ""
        },
        "genius": {
            "token": ""
        }
    }
  }